My workflow 4 (1).json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "36650a33-9ddd-47e2-b714-8fa9b49efe25",
      "name": "Telegram Trigger",
      "webhookId": "bdd0ac5d-bfb1-4818-a7bc-b48f5f7f16e8",
      "credentials": {
        "telegramApi": {
          "id": "qdYwVLsZLyKvDZc7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\nyou will help me to send emails for the chosen people \nyou receive  emails to get the email that i need \nand also you can send mails\nyou have acess to my calendars to make any thing\nand get the information from my calendar and tell me what i want to know   \nday/time: {{$now}}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "037da820-18fc-4e5f-8ce0-632083b7801f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        16
      ],
      "id": "85e97419-736e-42eb-8164-c349db471aaf",
      "name": "Send a text message",
      "webhookId": "c2006b98-dcbe-4727-8405-f43f496f919c",
      "credentials": {
        "telegramApi": {
          "id": "qdYwVLsZLyKvDZc7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "=1000",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        48,
        208
      ],
      "id": "3413e58d-5ad2-4bf3-bf9a-4a304244eff0",
      "name": "Get many messages in Gmail",
      "webhookId": "5e8bc1e0-2738-44e2-ab6c-cdf181a29b55",
      "credentials": {
        "gmailOAuth2": {
          "id": "4EfOOn2BIENDoJ9d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        208,
        208
      ],
      "id": "5a11ad50-fb39-4b96-9f82-fee1b92b6555",
      "name": "Send a message in Gmail",
      "webhookId": "4e46ddd5-b827-4a4b-8a29-2b6352669c9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "4EfOOn2BIENDoJ9d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat }}",
        "contextWindowLength": 9
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        768,
        208
      ],
      "id": "0c3e4048-a26d-4008-b342-66fe0eee974b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "test@example.com",
          "mode": "list",
          "cachedResultName": "test@example.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        592,
        208
      ],
      "id": "5c74fc6b-acde-401e-a736-99ca6466f126",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "x0RcaSnR2B6FVCMN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "test@example.com",
          "mode": "list",
          "cachedResultName": "test@example.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "f6a9d28d-c7f9-45e4-bed1-1abc5c1beee6",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "x0RcaSnR2B6FVCMN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        176
      ],
      "id": "67339fc8-555e-4b64-ad58-216e9d53d733",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "D6Os7v5p2UkSxlXF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3d22c29-c6a3-4f1a-8c5c-d5d4629baf80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c171aafd24e7de2404d2a25e0ba8de631e91e0639277f97e0c6da5203ef81a8"
  },
  "id": "OTrDGGjBjiMdDMwG",
  "tags": []
}